doctype
html
    head
        title merminbot
        link(rel='stylesheet', href='/style.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    body
        header
            h1 merminbot
            <i class='fa fa-ellipsis-h fa-sep'></i>
            p
                a(href='http://heroku.com/') heroku
                | , 
                a(href='http://nodejs.org/') node.js
                | , and 
                a(href='http://www.mongodb.org/') mongodb
                | -driven IRCBot with automatic and manual user alias tracking, user last seen tracking, note messaging system, youtube url parser, and a simple browser-accessible frontend powered by 
                a(href='http://expressjs.com/') express
                | , 
                a(href='http://jade-lang.com/') jade
                | , 
                a(href='http://learnboost.github.io/stylus/') stylus
                | , and 
                a(href='http://visionmedia.github.io/nib/') nib
            <i class='fa fa-ellipsis-h fa-sep'></i>
            a(class='github', href='http://github.com/mrmin123/merminbot') see it on github <i class='fa fa-github'></i>