doctype
html
    head
        title merminbot
        link(rel='stylesheet', href='/style.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    body
        header(class='sub')
            h1 <a href='http://merminbot.herokuapp.com/'>merminbot</a>
        container
            != body