@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Droid+Sans')

global-reset()

white = #fff
blue = #4b8fd4

body
    font-family 'Droid Sans'
    background-color white
    color #333
    text-align: center;
    
header
    display block
    margin-top 10%
    height 440px
    width 100%
    background-color blue

header h1
    display block
    padding 60px 0 0 0
    color white
    font-size 60pt
    font-weight bold
    letter-spacing 4px
    
header p
    width 500px
    margin auto
    font-size 13pt
    color white
    line-height 18pt
    
header p a
    border-bottom 2px solid rgba(255,255,255, 0.5);
    color white
    font-size 13pt
    font-weight bold
    text-decoration none
    letter-spacing 1px
    transition all 0.3s
    
header p a:hover
    border-bottom 2px solid rgba(255,255,255, 1);
    
header a.github
    color white
    font-size 20pt
    font-weight bold
    text-decoration none
    letter-spacing 1px
    transition all 0.3s
    
header a.github:hover
    letter-spacing 4px
    
header i.fa-sep
    display block
    margin 15px auto 15px auto
    color white
    font-size 15pt
    
    